:root {
  --primary: #1f2233;
  --secondary: #313550;
  --tertiary: 255, 206, 137;
}

* {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif;
  outline: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("./public/stars.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--primary);
  max-width: 100vw;
}

.padding-wrapper {
  padding: 50px 150px;
}

.navbar {
  position: relative;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
  font-family: Inter, sans-serif;
  font-size: 32px;
}

.navbar .nav-list {
  display: flex;
  gap: 30px;
}

.navbar .nav-list li {
  list-style: none;
  position: relative;
}

.navbar .nav-list li::after {
  content: "";
  width: 0;
  height: 1.5px;
  background: rgba(var(--tertiary));
  position: absolute;
  bottom: -5px;
  right: 50%;
  transform: translateX(50%);
  transition: 0.3s;
}

.navbar .nav-list li:hover:after {
  width: 90%;
}

.navbar .nav-list li a {
  text-decoration: none;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.mobile-nav {
  position: initial;
  display: none;
  z-index: 10;
}

.mobile-humburger-menu {
  width: auto;
  height: auto;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  display: flex;
}

.mobile-humburger-menu .dash {
  display: inline-block;
  width: 20px;
  height: 2px;
  border-radius: 100px;
  background-color: white;
}

.mobile-nav-link {
  position: fixed;
  width: calc(100% - 80px);
  top: 0;
  left: 0;
  padding: 30px 30px 80px 50px;
  gap: 35px;
  display: none;
  flex-direction: column;
  background-color: var(--secondary);
  transition: 0.5s;
  box-shadow: 0 0 100px black;
}

.mobile-nav-link.opened {
  display: flex;
  top: 0;
}

.mobile-nav-link.closed {
  top: -100%;
  display: flex;
}

.navbar .mobile-nav-link li {
  list-style: none;
  position: relative;
}

.navbar .mobile-nav-link li a {
  text-decoration: none;
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 300;
  font-size: 22px;
}

.navbar .mobile-nav-link li:nth-child(1) {
  justify-content: end;
  display: flex;
}

.close {
  position: relative;
  width: 20px;
  height: 20px;
  rotate: 45deg;
}

.close .dash {
  display: inline-block;
  background-color: white;
  width: 20px;
  height: 2px;
}

.close .dash:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.close .dash:nth-child(2) {
  position: absolute;
  rotate: 90deg;
  top: 50%;
  left: 0;
  transform: translate(-1px, 0);
}

.home {
  min-height: 60vh;
  display: grid;
  grid-template: auto / 50% 50%;
}

.home .section:first-child {
  margin: 0 0 80px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.home .section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.home .section h1 {
  color: white;
  font-weight: 700;
  font-size: 150px;
}

.home .section h2 {
  color: white;
  font-weight: 600;
  font-size: 32px;
}

.home .section h2:nth-child(1) {
  font-weight: 700;
  font-size: 36px;
}

.home .section h2 span {
  color: rgba(var(--tertiary));
}

.home .section p {
  margin-top: 25px;
  color: white;
  font-weight: 200;
  font-size: 30px;
}

.home .section .social {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin: 30px 0;
}

.home .section .social a img {
  width: 50px;
  transition: 0.3s;
}

.home .section .social a img:hover {
  scale: 1.1;
  filter: drop-shadow(0 0 10px rgba(var(--tertiary), 0.5));
}

.resume-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.resume-container .resume {
  text-wrap: nowrap;
  text-decoration: none;
  color: var(--primary);
  font-weight: 600;
  padding: 10px 20px;
  background: rgba(var(--tertiary), 1);
  transition: 0.3s;
}

.resume-container .resume:hover {
  box-shadow: 0 0 10px rgba(var(--tertiary), 0.8);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about .container {
  display: grid;
  width: 100%;
  grid-template: auto / 28% 71%;
  background-color: var(--secondary);
  padding: 40px;
}

.about .container div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .container div img {
  width: 70%;
}

.about .container div:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .container div p {
  color: white;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 3px;
  word-spacing: 5px;
  padding: 30px;
  font-weight: 200;
}

.about .container div p span {
  font-weight: 700;
  text-transform: capitalize;
  color: rgba(var(--tertiary));
}

.services {
  display: flex;
  gap: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 58px;
  font-weight: 600;
  color: white;
}
.title span {
  color: rgba(var(--tertiary), 1);
}

.services-container {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 30px;
  justify-content: start;
}

.service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 310px;
  max-width: 310px;
  background: var(--secondary);
  padding: 50px 20px;
  gap: 30px;
  border: 1px solid rgba(var(--tertiary), 1);
}

.services-container::-webkit-scrollbar {
  height: 35px;
  border: none;
}

.services-container::-webkit-scrollbar-thumb:horizontal {
  background: var(--secondary);
  border-radius: 10px;
  border: 15px solid var(--primary);
  border-left: none;
  border-right: none;
}

.service-card h1 {
  font-size: 32px;
  color: white;
  font-family: "DM Serif Text", serif;
  font-weight: 500;
}

.service-card p {
  color: white;
  font-size: 19px;
  line-height: 130%;
  letter-spacing: 2px;
  word-spacing: 3px;
  font-weight: 200;
  padding: 0 10px;
}

.projects {
  background-color: var(--secondary);
  display: flex;
  gap: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects-container {
  max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 30px;
  justify-content: start;
}

.projects-container::-webkit-scrollbar {
  height: 35px;
  border: none;
}

.projects-container::-webkit-scrollbar-thumb:horizontal {
  background: var(--primary);
  border-radius: 10px;
  border: 15px solid var(--secondary);
  border-left: none;
  border-right: none;
}

.project-card {
  background: #0d1321;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 350px;
  min-width: 350px;
  border: 1px solid rgba(var(--tertiary), 1);
  transition: 0.3s;
  scale: 0.97;
}
.project-card:hover .img {
  filter: brightness(100%);
}
.project-card:hover {
  scale: 1;
}
.project-card .img {
  transition: 0.3s;
  background-color: black;
  filter: brightness(45%);
  width: 100%;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.project-card .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  gap: 15px;
}
.project-card .content span {
  font-size: 16px;
  color: #7d7d7d;
  font-weight: 300;
}
.project-card .content h1 {
  font-family: "DM Serif Text", serif;
  font-weight: 500;
  font-size: 32px;
  color: #ffffff;
  text-wrap: balance;
}
.project-card .content a {
  text-decoration: none;
  padding: 10px 30px;
  color: rgba(var(--tertiary), 1);
  background-color: var(--secondary);
  border: 2px solid rgba(var(--tertiary), 1);
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px 0 0 0;
}
.project-card .content a:hover {
  background-color: rgba(var(--tertiary), 1);
  color: #0d1321;
}

.skills {
  display: flex;
  gap: 80px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skills-container {
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.skills-container::-webkit-scrollbar {
  height: 35px;
  border: none;
}

.skills-container::-webkit-scrollbar-thumb:horizontal {
  background: var(--secondary);
  border-radius: 10px;
  border: 15px solid var(--primary);
  border-left: none;
  border-right: none;
}

.m-scroll {
  overflow: hidden;
  height: 100%;
  white-space: nowrap;
  animation: scrollSkills 20s infinite linear;
  margin: 0;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  gap: 90px;
}

.skills-container .m-scroll img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

@keyframes scrollSkills {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-50% - 45px));
  }
}

@keyframes scrollSkillsMobile {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(calc(-50% - 20px));
  }
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary);
  padding: 50px;
  gap: 50px;
}

.contact .container form {
  width: calc(100% - 20px);
  display: grid;
  grid-template: auto auto / 50% 50%;
  gap: 30px;
}

.input-wrapper {
  width: 100%;
  position: relative;
  margin-top: 30px;
  margin-inline: auto;
}

.input-wrapper:nth-child(5) {
  height: 200px;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  & textarea {
    resize: none;
  }
}

.contact .container form .submit-btn {
  width: calc(100% - 30px);
  display: flex;
  grid-row-start: 4;
  grid-column-end: 3;
  justify-content: end;
  grid-column-start: 2;
}

.contact .container form .submit-btn button {
  color: var(--primary);
  background-color: rgba(var(--tertiary), 1);
  padding: 10px 30px;
  border: none;
}

.input {
  width: calc(100% - 40px);
  font-size: 18px;
  padding: 8px 0 8px 10px;
  color: white;
  border: none;
  border-bottom: 1px solid #ddd;
  transition: border-color 250ms;
  background: transparent !important;

  &:focus {
    outline: none;
    border-bottom-color: rgba(var(--tertiary), 1);
  }

  &::placeholder {
    color: transparent;
  }

  &::-webkit-contacts-auto-fill-button {
    visibility: hidden;
    pointer-events: none;
    position: absolute;
  }
}

.input-wrapper .label {
  position: absolute;
  top: 8px;
  left: 0;
  color: #b9b9b9;
  pointer-events: none;
  transform-origin: left center;
  transition: transform 250ms;
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  color: #b9b9b9;
  transform: translateY(-150%) scale(0.75);
}

.input:focus + .label {
  color: rgba(var(--tertiary), 1);
}

.footer {
  margin: 50px 0 0 0;
  background-color: var(--secondary);
}

.footer .section:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 70px 0;
  & .interested {
    font-family: "DM Serif Text", serif;
    font-weight: 500;
    color: white;
    font-size: 38px;
  }
  & .sub-sec a {
    text-decoration: none;
    padding: 10px 30px;
    color: rgba(var(--tertiary), 1);
    background-color: var(--secondary);
    border: 2px solid rgba(var(--tertiary), 1);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
    margin: 50px 0 0 0;
  }
}

.footer .section:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .social {
    margin: 0 0 30px 0;
    display: flex;
    gap: 25px;
    & a {
      text-decoration: none;
      & img {
        width: 50px;
        transition: 0.3s;
      }
      &:hover img {
        filter: drop-shadow(0 0 10px var(--primary));
      }
    }
  }

  & span {
    font-size: 14px;
    font-weight: 200;
    color: rgb(161, 161, 161);
  }
}

@media screen and (min-width: 1462px) {
  .navbar .mobile-nav-link li a {
    font-size: 28px;
  }
  .navbar .nav-list {
    display: flex;
    gap: 50px;
  }
}

@media screen and (max-width: 1462px) {
  .padding-wrapper {
    padding: 50px;
  }
  .about .container div img {
    width: 80%;
  }
  .about .container div p {
    font-size: 24px;
    padding: 15px;
  }
}

@media screen and (max-width: 1198px) {
  .padding-wrapper {
    padding: 40px 50px;
  }
  .navbar .nav-list {
    gap: 20px;
  }
  .home {
    min-height: 55vh;
  }
  .home .section:last-child {
    align-items: center;
  }
  .home .section:last-child img {
    width: 350px;
  }
  .home .section h1 {
    font-size: 110px;
  }
  .home .section h2 {
    font-size: 26px;
  }
  .home .section h2:nth-child(1) {
    font-size: 26px;
  }
  .home .section p {
    font-size: 24px;
  }
  .about .container {
    grid-template: auto / 35% 64%;
  }
  .about .container div img {
    width: 90%;
  }
  .about .container div p {
    font-size: 20px;
    padding: 0 0 0 20px;
  }
  .title {
    font-size: 48px;
  }
}

@media screen and (max-width: 838px) {
  .about .container {
    grid-template: auto auto / auto;
  }
  .about .container div img {
    width: 40%;
  }
  .about .container div p {
    font-size: 22px;
    padding: 30px 0 0 0;
  }
  .footer .section {
    padding-top: 60px;
    padding-bottom: 30px;
    flex-direction: column;

    &:first-child {
      gap: 30px;
      justify-content: start;
      align-items: start;
      & .sub-sec .interested {
        font-size: 22px;
      }
    }

    &:last-child {
      align-items: start;
      & .social {
        margin: 0 0 20px 0;
        gap: 10px;
        & a {
          text-decoration: none;
          & img {
            width: 30px;
          }
        }
      }

      & span {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 738px) {
  .padding-wrapper {
    padding: 20px 30px;
  }
  .navbar .logo {
    font-size: 22px;
  }
  .navbar .nav-list {
    display: none;
  }
  .mobile-nav {
    display: flex;
  }
  .mobile-humburger-menu {
    display: flex;
  }
  .home {
    gap: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  .home .section:first-child {
    margin: 40px 0 20px 0;
  }
  .about .container div img {
    width: 50%;
  }
  .about .container div p {
    font-size: 20px;
  }
  .title {
    font-size: 38px;
  }
  .service-card {
    min-width: 350px;
    max-width: 350px;
  }
  .project-card {
    max-width: 300px;
    min-width: 300px;
  }
  .skills {
    gap: 40px;
  }
  .contact .container form {
    display: flex;
    flex-direction: column;
  }
  .input-wrapper {
    width: 100%;
    & .input {
      width: calc(100% - 10px);
    }
  }
  .input {
    font-size: 16px;
  }
  .contact .container form .submit-btn {
    width: 100%;
  }
  .submit-btn {
    margin-top: 20px;
    width: 100%;
    & button {
      width: 100%;
    }
  }
}

@media screen and (max-width: 568px) {
  .about .container div img {
    width: 70%;
  }
  .about .container div p {
    font-size: 16px;
    line-height: 130%;
    letter-spacing: 2px;
    word-spacing: 3px;
  }
}

@media screen and (max-width: 438px) {
  .home .section h1 {
    font-size: 80px;
  }
  .home .section:last-child img {
    width: 100%;
  }
  .home .section .social {
    margin: 15px 0;
  }
  .home .section .social a img {
    width: 35px;
  }
  .m-scroll {
    margin: 40px 0 20px 0;
    animation: scrollSkillsMobile 20s infinite linear;
    gap: 40px;
  }
  .skills-container .m-scroll img {
    height: 50px;
    width: 50px;
  }
  .contact .container {
    padding: 50px 10px;
  }
  .contact .container form {
    gap: 10px;
  }
  .input {
    font-size: 14px;
  }
}
@media screen and (max-width: 398px) {
  .about .container {
    padding: 40px 20px;
  }
  .about .container div img {
    width: 80%;
  }
  .about .container div p {
    font-size: 15px;
    line-height: auto;
    letter-spacing: auto;
    word-spacing: auto;
  }
  .title {
    font-size: 28px;
  }
  .services {
    gap: 20px;
  }
  .service-card {
    min-width: calc(100% - 22px);
    max-width: calc(100% - 22px);
    padding: 30px 10px;
  }
  .service-card h1 {
    font-size: 24px;
  }
  .service-card p {
    padding: 0 5px;
    font-size: 14px;
  }
  .project-card {
    min-width: calc(100% - 2px);
    max-width: calc(100% - 2px);
  }
  .project-card .content {
    gap: 7px;
    padding: 30px 10px;
  }
  .project-card .content span {
    font-size: 13px;
  }
  .project-card .content h1 {
    font-size: 24px;
  }
}

@media screen and (max-width: 338px) {
  .home .section h1 {
    font-size: 60px;
  }
  .home .section h2 {
    font-size: 22px;
  }
  .home .section h2:nth-child(1) {
    font-size: 22px;
  }
  .home .section p {
    font-size: 20px;
  }
  .home .section:last-child img {
    width: 100%;
  }
  .about .container div p {
    font-size: 12px;
  }
  .title {
    font-size: 22px;
  }
  .service-card {
    padding: 30px 10px;
  }
}

@media screen and (max-width: 265px) {
  .service-card {
    min-width: 230px;
    max-width: 230px;
    padding: 30px 10px;
  }
}
